* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    font-size: 36px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif ;
    font-family: 'Roboto', sans-serif;
    color: white;
}


