.box-1 {
	width: 400px;
	height: 400px;
	background-color: gold;
}

.circle {
	width: 300px;
	height: 300px;
	background-color: rgba(245, 3, 3, 0.3);
	border-radius: 50%;
}

.ciastko {
	max-width: 800px;
	min-width: 500px;
    width: 100%;
	height: 200px;
	background-color: lime;
}

.box-3 {
	height: 300px;
    width: 50vw;
	background-color: tomato;
}

.inside {
    width: 50%;
    height: 50vw;
    background-color: #0076e8
    ;
}