* {
<<<<<<< HEAD
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-size: 36px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #555;

}




p {
    width: 100%;


}
=======
    margin: 0
    padding: 0
}

body 
    padding: 40px;
    background-color: royalblue;
    font-family: sans-serif;   


h1 {
    font-siz e: 54px;
    text-transform: uppercase;
}

.p {
    margin-top: 20px;
    padding: 20px 10px;
    font-size: 48px;
    background-color: lime;
}
>>>>>>> 18007f077157278c56dfb051c37e4c88f59f289d
